@use "sass:color";
@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Quicksand:wght@400;500;600;700&display=swap");

$font-heading: "Lobster Two", cursive, sans-serif !default;
$font-body: "Quicksand", sans-serif !default;

$color-primary: #123a5c !default;
$color-primary-alt: #3f5149 !default;
$color-secondary: #8b2e23 !default;
$color-background: #c8f2e9 !default;
$color-body: #26423d !default;
$color-anchor: #9a5bd9 !default;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
) !default;

$color-gray: color.mix(#767676, $color-body, 70%) !default;

$colors: map.merge(
  $brand-colors,
  (
    background: $color-background,
    text: $color-body,
    light: #fff,
    anchor: $color-anchor,
  )
);

@function color($key) {
  @return map.get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: $color-anchor !default;
$border-radius: 8px !default;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-decoration-soft: rgba(255, 255, 255, 0.25);

  --font-heading: #{$font-heading};
  --font-family: #{$font-body};
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}
