@mixin decorative-wave($size, $color: var(--color-background), $color-wave: var(--color-secondary)) {
    display: inline-block;
    content: "";
    height: $size;
    width: $size;
    margin-right: 10px;
    background:
        radial-gradient(20px 20px at 81% 44%,
        $color 0 19px,
        transparent 20px
        ),
        radial-gradient(20px 20px at 68% 90%, 
        $color-wave 0 19px,
        transparent 20px
        ),
        radial-gradient(20px 20px at 15% 70%,
        $color-wave 0 19px,
        transparent 20px
        );
}

// filter: brightness(1.02);